.icon {
    height: 20px;
    width: 20px;
}

.masonry {
    column-count: 5;
    column-gap: 2rem;
    }
    @media (max-width: 1024px) {
    .masonry {
    column-count: 2;
    column-gap: 2rem;

    }
        @media (max-width: 768px) {
        .masonry {
        column-count: 1;
        column-gap: 2rem;
        }
        }
    }